body {
    font-family: "Georgia", sans-serif;
    background-color: rgb(17, 48, 48);
    color: white;
    margin: 0px 10px;
    padding: 0px;
    box-sizing: border-box;
}

#header {
    margin-bottom: 30px;
}


#header h1 {
    margin-bottom: 0;
}
a {
    color: white;
}

#about {
    background-color: rgb(116, 166, 162);
    display: flex;
    flex-direction: row;
    margin-top: 0;
    margin-bottom: 30px;
}

#about p {
    color: black;
    margin-left: 10px;
    padding: 10px;
}

.exp {
    background-color: rgb(116, 166, 162);
    color: black;
    width: 25%;
    padding: 10px;
    
}
.exp hr {
    border: 1px solid black;
}

#experiences {
    display: flex;
    flex-direction: row;
}

#gm {
    background-color: rgb(91, 111, 112);
}
#psr {
    background-color: rgb(91, 111, 112);
}

#honors {
    margin-top: 30px;
    font-family: "Georgia", sans-serif;
    font-size: 20px;
    border: none;
    outline: none;
    background: rgb(91, 111, 112);
    color: black;
    opacity: 1;
    transition-duration: 0.2s;
    cursor: pointer;
    border-radius: 25%;
    padding: 10px;
    margin-bottom: 20px;
}
